<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Use <br> inside json -->
                        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                            <mat-form-field>
                                <input matInput type="text" id="title" name="title" class="form-control" placeholder="Enter Title" formControlName="title" required>
                            </mat-form-field>
                            <mat-form-field>
                                <textarea matInput id="review" name="review" class="form-control" placeholder="Enter Review" mat-autosize formControlName="review" required></textarea>
                            </mat-form-field>
                            <button type="submit" class="btn btn-success" [disabled]="!reviewForm.valid">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" >
                <div class="card-columns">
                <div class="card" *ngFor="let allData of retrievedReviews">
                    <div class="card-body">
                        <!-- Use <br> inside json -->
                        <h3 class="font-weight-bold" [innerHTML]="allData.title"></h3>
                        <p class="font-weight-bold" [innerHTML]="allData.review"></p>

                        <button mat-raised-button mat-min-fab (click)="deleteReview(allData._id)" class="btn btn-danger btn-just-icon btn-round float-right" >
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>