<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <div class="col-md-12 mr-auto">
                                <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                                    <!-- <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()" id="date" name="date" class="form-control"  formControlName="date" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field> -->
                                    <mat-form-field>
                                        <input matInput type="date" placeholder="Enter Date" id="date" name="date" class="form-control" formControlName="date" required>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Select ticker</mat-label>
                                        <mat-select id="symbol" name="symbol" class="form-control"  formControlName="symbol" required>
                                            <mat-option value="MA">Mastercard</mat-option>
                                            <mat-option value="ADBE">Adobe</mat-option>
                                            <mat-option value="USDJPY">USDJPY</mat-option>
                                            <mat-option value="VIX">CBOE VIX</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Open Price" id="open" name="open" class="form-control"  formControlName="open" required>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Close Price" id="close" name="close" class="form-control"  formControlName="close" required>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Predicted Price" id="predicted" name="predicted" class="form-control"  formControlName="predicted" required>
                                    </mat-form-field>
                                    <button type="submit" class="btn btn-success" [disabled]="!updateForm.valid">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>