<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <img src="/assets/img/apple-icon.png" />
        </div>
    </a>
    <div class="simple-text logo-normal">
        My Watchlist
    </div>
</div>
<div class="sidebar-wrapper">
    <!-- <div *ngIf="isMobileMenu()">
  </div> -->
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link d-flex justify-items-between align-items-center" [routerLink]="[menuItem.path]">
                <img [src]="menuItem.icon" class="mr-2 h-100" style="width: 2rem;">
                <p class="text-center font-weight-bold">{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>