<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="loading else loaded">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-info" role="status" style="width: 5rem; height: 5rem;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <ng-template #loaded>
            <div class="row" @itemAnim>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header card-header-warning card-header-icon">
                            <ng-container *ngFor="let allData of retrievedData">
                                <ng-container *ngIf="allData.symbol == currPath">
                                    <div class="card-icon">
                                        <img [src]="allData.logo" style="height: 4rem;" />
                                    </div>
                                    <h2 class="card-title font-weight-bold">{{ allData.name }}</h2>
                                    <p class="card-category">Ticker : {{ allData.symbol }}</p>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <!-- STATISTICAL MEASURES -->
            <div *ngFor="let allData of retrievedData">
                <div class="row justify-content-between" @itemAnim>
                    <div class="col">
                        <div class="card" *ngIf="allData.symbol == currPath">
                            <div class="card-header card-header-info">
                                <h6 class="card-title text-center">Standard Deviation</h6>
                                <!-- <p class="card-category">Category subtitle</p> -->
                            </div>
                            <div class="card-body">
                                <h4 class="font-weight-bold text-center">{{ allData.technical.stddev }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" *ngIf="allData.symbol == currPath">
                            <div class="card-header card-header-info">
                                <h6 class="card-title text-center">Predicted Average</h6>
                                <!-- <p class="card-category">Category subtitle</p> -->
                            </div>
                            <div class="card-body">
                                <h4 class="font-weight-bold text-center">{{ allData.technical.pavg }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" *ngIf="allData.symbol == currPath">
                            <div class="card-header card-header-info">
                                <h6 class="card-title text-center">Moving Average</h6>
                                <!-- <p class="card-category">Category subtitle</p> -->
                            </div>
                            <div class="card-body">
                                <h4 class="font-weight-bold text-center">{{ allData.technical.sma }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" *ngIf="allData.symbol == currPath">
                            <div class="card-header card-header-info">
                                <h6 class="card-title text-center">Average Returns</h6>
                                <!-- <p class="card-category">Category subtitle</p> -->
                            </div>
                            <div class="card-body">
                                <h4 class="font-weight-bold text-center">{{ allData.technical.retavg }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NEWS & FACTS -->
            <div *ngFor="let allData of retrievedData">
                <div class="row justify-content-between" @itemAnim>
                    <div class="col-xl-8 col-md-12">
                        <div class="card" *ngIf="allData.symbol == currPath">
                            <div class="card-header card-header-info d-flex justify-content-left align-items-center">
                                <i class="fa fa-newspaper-o fa-3x mr-3"></i>
                                <h3 class="card-title text-center font-weight-bold">News</h3>
                                <!-- <p class="card-category">Category subtitle</p> -->
                            </div>
                            <div class="card-body" *ngFor="let oneArticle of allData.news">
                                <h4 class="p-1 font-weight-bold">{{ oneArticle.headline }}</h4>
                                <p class="p-1">{{ oneArticle.content }}</p>
                                <hr class="mb-0">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="card" *ngIf="allData.symbol == currPath">
                            <div class="card-header card-header-info d-flex justify-content-left align-items-center">
                                <i class="fa fa-lightbulb-o fa-3x mr-3"></i>
                                <h3 class="card-title text-center font-weight-bold">Facts</h3>
                                <!-- <p class="card-category">Category subtitle</p> -->
                            </div>
                            <div class="card-body" *ngFor="let oneFact of allData.facts">
                                <p class="p-1">{{ oneFact }}</p>
                                <hr class="mb-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CHART -->
            <div class="row" *ngIf="retrievedData" @itemAnim>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header card-header-info d-flex justify-content-left align-items-center">
                            <i class="fa fa-line-chart fa-3x mr-2"></i>
                            <h3 class="card-title mr-3 font-weight-bold">Predicted v/s Actual</h3>
                            <!-- <p class="card-category">Data From 24<sup>th</sup> August, 2020</p> -->
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel" [timeline]="timeline" [autoScale]="autoScale" [results]="arrCHART">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>

            <!-- HISTORICAL DATA -->
            <div class="row" *ngIf="retrievedData" @itemAnim>
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info d-flex justify-content-left align-items-center">
                            <i class="fa fa-history fa-3x mr-2"></i>
                            <h3 class="card-title mr-3 font-weight-bold">Historical Data</h3>
                            <p class="card-category">Data From 24<sup>th</sup> August, 2020</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>Date</th>
                                    <th>Open</th>
                                    <th>Close</th>
                                    <th>Predicted</th>
                                </thead>
                                <tbody *ngFor="let allData of retrievedData">
                                    <ng-container *ngIf="allData.symbol == currPath">
                                        <tr *ngFor="let timedata of allData.timeseries">
                                            <td>{{ timedata.date  | date:'longDate'}}</td>
                                            <td>{{ timedata.open }}</td>
                                            <td>{{ timedata.close }}</td>
                                            <td>{{ timedata.predicted }}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>